
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body{
	background-color: #ebebeb;
	height: 100%;
}
.wrapper{
	display: flex;
	flex-direction: column;
	height: 100%;
}
header{
	flex-basis: content;
	max-width: 1920px;
	height: 126px;
	background-color: #fff;
}

footer{
	margin-top: 200px;
	min-height: 100px;
	background-color: #4f4f4f;
}

.header_top{
	display: inline-block;
	width: 100%;
	padding: 25px 3.9% 0 3.9%;
}

.header_top img{
	display: inline-block;
	max-width: 100%;
	margin-right: 74px;
}
form{
	display: inline-block;
	padding-top: 13px;
	width: 100%;
	max-width: 1300px;
}

form input{
	display: inline-block;
	height: 50px;
	width: 92%;
	background: #fff;
	border: 1.5px solid #8a8a8a;
	border-radius: 25px;
	color: #000000;
	font-family: Raleway;
	font-size: 16px;
	font-weight: normal;
	padding-left: 32px;
	font-weight: 600;
}

.header_top span{
	display: inline-block;
	width: 150px;
	height: 50px;
	background: #ffffff;
	border: 1.5px solid #8a8a8a;
	border-radius: 25px;
	padding-top: 14px;
	padding-left: 15px;
	font-family: Raleway;
	font-size: 16px;
	font-weight: normal;
	color: #000;
	margin-left: -100px;
	background: url('./../img/login.png') no-repeat 90px;
}

.header_button_1:nth-child(1){
	width: 80px;
	background: none;
	margin-left: -100px;
}

.header_button_2:nth-child(1){
	width: 100px;
	background: none;
	margin-left: 10px;
}


.line{
	width: 100%;
	background-color: #8a8a8a;
	height: 2px;
}

.navigation nav {
	display: inline-block;
}
.navigation{
	margin-top: 17.6px;
	height: 90px;
	background-color: #fff;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	position: sticky;
	top: 0;
}

.navigation img{
	margin-top: 17.5px;
	margin-left: 5.42%;
	margin-right: 6.4%;
}

.navigation li{
	display: inline-block;
	font-family: Roboto;
	font-size: 36px;
	font-weight: normal;
	line-height: 36px;
	padding-top: 25px;
}

.navigation a{
	color: #4e4e4e;
	margin-right: 10px;
}

.navigation span{
		display: inline-block;
		width: 150px;
		height: 50px;
		background: #ffffff;
		border: 1.5px solid #8a8a8a;
		border-radius: 25px;
		padding-top: 3px;
		padding-left: 15px;
		font-family: Raleway;
		font-size: 36px;
		font-weight: normal;
		color: #4e4e4e;
		font-weight: 700;
		background: url('./../img/more.png') no-repeat 90px;
}
.container{
	padding: 0 7.8125%;
	display: flex;
	flex-direction: row;
	justify-content:space-between;
}
.content{
	margin-top: 100px;
	width: 1210px;
}

footer span{
	display: inline-block;
	width: 120px;
	padding-left: 25%;
	margin-top: 25px;
	color: #fff;
	font-family: Raleway;
	font-size: 36px;
	font-weight: normal;
	margin-right: 10%;
}

footer img{
	display: inline-block;
	margin-top: 25px;
	margin-right: 4%;
}

.news_container{
	display: flex;
	align-content: flex-start;
	flex-wrap: wrap;
	justify-content: space-between;
	flex: 0 1 33%;
	margin-bottom: 25px;
}

.news{
	width: 400px;
	height: 375px;
	background-color: #fff;
	border-radius: 20px;
	margin-top: 10px;
	padding-left: 12px;
	padding-top: 13px;
}

.news h2{
	color: #000000;
	font-family: Roboto;
	font-size: 18px;
	font-weight: 700;
	line-height: 18px;
	max-width: 380px;
	max-height: 40px;
	margin-bottom: 4px;
}

.news p{
	color: #000000;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 300;
	line-height: 20px;
	max-width: 380px;
	max-height: 80px;
	margin-bottom: 7px;
}

.news img{
	border-radius: 20px;
}

h3{
	color: #4e4e4e;
	font-family: Roboto;
	font-size: 36px;
	font-weight: normal;
	line-height: 36px;
}

.f{
	width: 400px;
	height: 150px;
	border-radius: 20px;
	background-color: #fff;
	margin-top: 10px;
	padding-top: 8px;
	padding-left: 12px;
}

.article {
	background-color: #fff;	
	border-radius: 20px;
	min-width: 400px;
	padding: 10px 5px 10px 10px;
	margin-top: 5px;
}

.article h4{
	max-width: 380px;
	max-height: 90px;
	color: #000000;
	font-family: Roboto;
	font-size: 24px;
	font-weight: medium;
	line-height: 30px;
	margin-bottom: 20px;
	overflow: hidden;
}

.article span{
	color: #4e4e4e;
	font-family: Roboto;
	font-size: 20px;
	font-weight: 400;
	line-height: 20px;
	margin-right: 15px;
	padding-left: 35px;
}

.article span:nth-child(2){
	background: url('./../img/eye.svg') no-repeat ;
}

.article span:nth-child(3){
	background: url('./../img/comment.svg') no-repeat ;
}

.article span:nth-child(4){
	background: url('./../img/calendar.svg') no-repeat ;
}

.sort{
	min-width: 100%;
	height: 80px;
	background-color: #fff;
	margin-top: 100px;
	padding-top: 0px;
	padding-left: 22px;
	border-radius: 50px;
	display: block;
}

.sort h1{
	color: #4e4e4e;
	font-family: Raleway;
	font-size: 48px;
	font-weight: normal;
	line-height: 36px;
	display: inline-block;
	margin-right: 30px;
}

.sort nav{
	display: inline-block;
}

.sort li{
	display: inline-block;
	font-family: Raleway;
	font-size: 36px;
	font-weight: normal;
	line-height: 36px;
	padding-top: 25px;
	margin-right: 80px;
}

.sort li:nth-child(3){
	margin-right: 0;
}

.sort a{
	color: #4f4f4f;
}

.sort span{
	padding-right: 30px;
	background: url('./../img/arrow.svg') no-repeat right;
}

.category_article{
	margin-top: -75px;
	display: block;
	max-width: 1210px;
	height: 375px;
	border-radius: 20px;
	background-color: #fff;
	padding-left: 25px;
	padding-top: 15px;
	margin-bottom: 100px;
}

.container_2{
	padding: 0 7.8125%;
}

.category_article h1{
	color: #000000;
	font-family: Raleway;
	font-size: 28px;
	font-weight: medium;
	line-height: 36px;
	max-width: 1165px;
	max-height: 70px;
}

.category_article img{
	width: 539px;
	height: 260px;
	border-radius: 25px;
}

.category_article p{
	color: #000000;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 300;
	line-height: 20px;
	max-width: 600px;
	max-height: 240px;
	display: inline-block;
	margin-left: 10px;
	overflow: hidden;
}

.category_article span{
	color: #4e4e4e;
	font-family: Raleway;
	font-size: 20px;
	font-weight: 400;
	line-height: 20px;
	margin-right: 15px;
	padding-left: 35px;
	display: inline-block;
	/* position: relative;
	left: 600px;
	top: 40px; */
}

.stats{
	display: block;
	margin-left: 550px;
}

.stats span:nth-child(1){
	background: url('./../img/eye.svg') no-repeat ;
}

.stats span:nth-child(2){
	background: url('./../img/comment.svg') no-repeat ;
}

.stats span:nth-child(3){
	background: url('./../img/calendar.svg') no-repeat ;
}

.article_full{
	padding: 47px 53px;
	width: 1205px;
	border-radius: 50px;
	background-color: white;
}

.article_full h1{
	max-width: 1100px;
	margin-bottom: 25px;
	color: #000000;
	font-family: Roboto;
	font-size: 64px;
	font-weight: medium;
	line-height: 72px;
}

.article_full h1:hover{
	color:black;
}

.article_full span{
	color: #4e4e4e;
	font-family: Roboto;
	font-size: 24px;
	font-weight: 300;
	line-height: 20px;
	padding-left: 40px;
	margin-right: 20px;
}
.article_full img{
	margin-top: 25px;
	max-width: 1100px;
}

.article_full p:hover{
color: black;
}

.article_full p{
	margin-top: 25px;
	color: #000000;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 300;
	line-height: 26px;
}

.article_full span:nth-child(2){
	background: url('./../img/eye.svg') no-repeat ;
}

.article_full span:nth-child(3){
	background: url('./../img/comment.svg') no-repeat ;
}

.article_full span:nth-child(4){
	background: url('./../img/calendar.svg') no-repeat ;
}


.news:hover{
	color: #632CFF;
}

a:hover{
	color: #632CFF;
}

:hover{
	color: #632CFF;
}

input:hover{
	color: #632CFF;
}

h1:hover{
	color: #632CFF;
}

h2:hover{
	color: #632CFF;
}

h3:hover{
	color: #632CFF;
}

h4:hover{
	color: #632CFF;
}

p:hover{
	color: #632CFF;
}

span:hover{
	color: #632CFF;
}